.navIconsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.backArrow {
    transform: rotate(180deg);
    grid-column-start: 1;
    grid-column-end: 1;
}

.editWorkout {
    grid-column-start: end;
    grid-column-end: end;
    color: var(--accentColorOrange);
}

.workoutBodyWrapper {
    background-color: var(--green);
    height: 100vh;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide-in 0.5s forwards;
    transform: translateX(-100%);
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.workoutBody {

}

.workoutInfoHeader {
    padding: 15px 30px 0px 30px;
}

.workoutInfoHeader * {
    color: white;
}

.exercisesField {
    background-color: white;
    padding: 30px;
    transform: translateY(1vh);
    width: 100vw;
    height: 70vh;
    border-radius: 40px;
    color: black;
    overflow: hidden;
}

/****************************************************************************
 Workout */

.workoutNameInput {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    width: 100%;
}

.workoutNameInput::placeholder {
    color: #ffffff;
}

.workoutDescriptionTextArea {
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    resize: none;
    overflow: auto;
    margin-bottom: 10px;
}

.workoutDescriptionTextArea::placeholder {
    color: #ffffff;
}

.saveWorkoutButton {
    background-color: var(--accentColorOrange);
    border-radius: 15px;
    height: 30px;
}

.invalidInput {
    border-bottom-color: red;
    color: red;
}

.accentButton {
    background-color: var(--accentColorOrange);
    border-radius: 15px;
}

.deleteWorkoutButton {
    background-color: red;
    border-radius: 15px;
}
