.exercisesHeader {
    display: inline-flex;
    font-size: 20px;
    font-style: italic;
    transform: translateY(-20px);
}

#exerciseTabs {
    grid-area: exerciseTabs;
    display: grid;
    height: 300px;
    border-right: 1px solid black;
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.exerciseTabElement {
    display: flex;
    flex-direction: row;
}

#exerciseTabs input {
    width: 110px;
}

.addExerciseButton {
    width: 110px;
    height: 30px;
    background-color: var(--accentColorOrange);
    border-radius: 15px;
}

.deleteExerciseButton {
    color: red;
}

#verticalLine {
    left: 98%;
    width: 3px;
    height: 30px;
    background: var(--accentColorOrange);
    position: absolute;
}


#addExerciseButton {
    margin-top: 10px;
    width: 100px;
    height: 60px;
    background-color: var(--accentColorOrange);
    border: none;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

.exerciseInfo {
    grid-area: exerciseInfo;
    margin-left: 20px;
}

.exercisesInfoContainer {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    grid-template-areas: "exerciseTabs exerciseInfo";
}

.exerciseEditGrid {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.exercise {
    border: none;
    border-bottom: 1px solid;
    margin: 20px 0 20px 0;
}

.deleteIcon {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;
    width: 20px;
    height: 20px;
}


.exerciseInfoContainer {
    flex-direction: column;
    margin: 0px 0px 10px 10px;
    transform: translateY(-25px);
    border-bottom: 1px solid var(--lightGrey);
    width: 150px;
}

.infoHeader {
    margin-bottom: 5px;
}

.infoValue {
    margin-bottom: 10px;
}

.goalsAchievedContainer {
    display: inline-flex;
    transform: translateX(-147px);
    width: 250px;
}

.goalsAchievedCheckbox {
    vertical-align: bottom;
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.exerciseNotes {
    transform: translateX(-150px);
}



