:root {
   /*
    --font-color: #ffffff;
    --back-color: #1e1f32;
    --second-color: #333c47;
    --contrastColor: #ff931f;
    --secondContrastColor: #00f9ff;
    --modalWorkout-back-color: #16202c;*/
   /* --shadow:
             6px  6px 18px #0c0c14,
            -6px -6px 18px #303250;
    --shadow-modal:
            6px 6px 18px #0c0c14;
    --shadow-inset:
            inset 5px 5px 10px #1a1b2b,
            inset -5px -5px 10px #222339;
    --shadow-card-button:
            5px 5px 10px #1a1b2c,
            -5px -5px 10px #222338;

    --back-color-light-mode: #f0f0f0d4;
    --shadow-light-mode:
            -4px -4px 17px -10px #FFF,
             4px  4px 10px  -1px  #C4C4C4;*/


    /*LIGHT MODE*/
    --base-color: #ebecf0;
    --font-color: #9296a2;
    --shadow-color: #BABECC;
    --highlight-color: #FFFFFF;
    --shadow:
            -5px -5px 20px var(--highlight-color),
             5px 5px 20px var(--shadow-color);
    --shadow-small: -2px -2px 5px var(--highlight-color), 2px 2px 5px var(--shadow-color);
    --shadow-inset: inset 2px 2px 5px var(--shadow-color), inset -5px -5px 10px var(--highlight-color);
}

body {
    background-color: var(--base-color);
    overflow-x: hidden;
}

* {
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 1px 1px 0 var(--highlight-color);
}

.header {
    margin-bottom: 30px;
}

.header * {
    color: var(--font-color);
}

.weekDayPicker {
    margin-top: 0.2rem;
    background-color: var(--base-color);
    color: #9296a2;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: var(--shadow);
    height: 50px;
}

.weekDayPicker:active {
    background-color: var(--base-color);
    border: none;
}

.currentWeekHeader {
    color: var(--font-color);
}

.workoutDateTitle {
    color: var(--font-color);
    font-size: 16px;
    text-shadow: 1px 1px 0 var(--highlight-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}

.horizontalCarousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}


/****************************************************************************
 Workout Card*/

.workoutCards {
    height: 450px;
    width: 20rem;
    margin: 30px;
    border: none;
    border-radius: 30px;
    font-size: 11px;
    box-shadow: var(--shadow);
    background-color: var(--base-color);
}

.workoutCards * {
    color: var(--font-color);
}

.workoutName {
    font-size: 24px;
    margin-left: 1rem;
    display: inline-block;
    float: left;
}

.editWorkout {
    display: inline-block;
    float: right;
}

.editWorkoutButton {
    border: none;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: var(--base-color);
    box-shadow: var(--shadow);
    text-align: center;
    position: relative;
}

.editWorkoutIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.editWorkoutDropdownMenu {
    border-radius: 30px;
    background-color: var(--base-color);
    border: none;
    box-shadow: var(--shadow);
    transform: rotate(5deg);
    transition: transform 0.5s;
}


/****************************************************************************
 Cardbody*/

.cardBodyContainer {
    padding: 10px 15px 25px 15px;
    font-size: 16px;
}

.cardBody {
    display: flex;
    height: 350px;
    box-shadow: var(--shadow-inset);
    border-radius: 30px;
}

.cardBodyInside {
    width: 100%;
    max-height: inherit;
    overflow-y: scroll;
}

.cardTitleGrid {
    margin: 0.9rem;
}

/****************************************************************************
 Cardbody grid */

.cardBodyHeader {
    grid-area: cardBodyHeader;
    font-weight: bold;
    text-decoration-line: underline;
}

.deleteExerciseIcon {
    grid-area: deleteExerciseIcon;
}

.setsLabel {
    grid-area: setsLabel;
    font-weight: bold;

}

.repsLabel {
    grid-area: repsLabel;
    font-weight: bold;

}

.kgLabel {
    grid-area: kgLabel;
    font-weight: bold;
}

.goalLabel {
    grid-area: goalLabel;
    font-weight: bold;

}

.sets {
    grid-area: sets;
}

.reps {
    grid-area: reps;
}

.kg {
    grid-area: kg;
}

.goal {
    grid-area: goal;
}

.cardBodyGrid {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas:
            "cardBodyHeader . . deleteExerciseIcon"
            "setsLabel sets   . ."
            "repsLabel reps   . ."
            "kgLabel   kg     . ."
            "goalLabel goal achievedLabel achieved";
    margin-bottom: 20px;
}

.modal-content {
    background-color: var(--base-color);
    border-radius: 30px;
    border: none;
    box-shadow: var(--shadow)
}






/*input[type='checkbox'] {
    outline: none;
    box-shadow:
            5px 5px 10px #151515,
            -5px -5px 10px #2b2b2b;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    border-radius: 50px;
}

input[type='checkbox']::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #2b2b2b;
    background: transparent;
    transform: translate(-50%, -50%);
    transition: all .25s ease;
}

input[type='checkbox']:checked {
    box-shadow: var(--shadow);
}

input[type='checkbox']:checked::after {
    background-color: var(--contrastColor);
}*/

html {
    overflow-y: hidden;
    overflow-x: hidden;
}
